 %footer.footer-2
  .footer-secondary-links
    %ul.footer-social
      %li
        %a{href: "https://www.facebook.com/ian.knauer"}
          %i.foundicon-facebook
      %li
        %a{href: "https://twitter.com/ianknauer"}
          %i.foundicon-twitter
      %li
        %a{href: "https://github.com/ianknauer"}
          %i.foundicon-github