%section.blogs
  %ul
    %li
      %article 
        %a{href: "javascript:void(0)"}
          %h4 Blog Title
        %p.description This would be the excerpt for the blog post, lada di da di da. This means that I have to remember to include excerpt in the database.
        %a{href: "#"}
          %span read more...
    %li
      %article 
        %a{href: "javascript:void(0)"}
          %h4 Blog Title
        %p.description This would be the excerpt for the blog post, lada di da di da. This means that I have to remember to include excerpt in the database.
    %li
      %article 
        %a{href: "javascript:void(0)"}
          %h4 Blog Title
        %p.description This would be the excerpt for the blog post, lada di da di da. This means that I have to remember to include excerpt in the database.
    %li
      %article 
        %a{href: "javascript:void(0)"}
          %h4 Blog Title
        %p.description This would be the excerpt for the blog post, lada di da di da. This means that I have to remember to include excerpt in the database.