%section.grid-items
  %h3.about About me
  %img{alt: "Maddy and I", src: "../images/IanMaddy.png", width: "150", class: "bio"}
  %p{class: "bio"} Donec vulputate a neque id mollis. Fusce a consequat nunc. Suspendisse potenti. Curabitur non faucibus eros, nec blandit velit. Donec eu mauris commodo nisl vehicula lacinia. Morbi venenatis risus id scelerisque pharetra. Ut sit amet lobortis diam. Etiam volutpat vulputate enim ac iaculis. Nunc tristique elit a tincidunt lobortis. Sed porttitor augue vitae ante dapibus tincidunt eget vitae augue.
  %p In gravida, massa a dictum aliquet, turpis nisl pulvinar lorem, accumsan sodales nulla libero sed metus. Mauris ut odio eget lacus congue mattis vel sed risus. Fusce fringilla eleifend est eget mollis. Integer iaculis a magna sit amet tristique. Integer at diam aliquam, sodales velit nec, ornare purus. Nam ante lacus, lobortis quis justo eget, tincidunt euismod leo. Vestibulum id nisi auctor, molestie ipsum vel, sodales felis. Pellentesque pellentesque id lorem eget ullamcorper.

.grid-items
  %h3.blogs Recent Blogs
  %a.grid-item{href: "javascript:void(0)"}
    %h1 Grid Item
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item.grid-item-image{href: "javascript:void(0)"}
    %h1 Grid Item With an Image
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  %a.grid-item{href: "javascript:void(0)"}
    %h1 Another Wide Item
    %p Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
  %a.grid-item{href: "javascript:void(0)"}
    %h1 Last Grid Item
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item{href: "javascript:void(0)"}
    %h1 Last Grid Item
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item{href: "javascript:void(0)"}
    %h1 A Grid Item
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.