%section.projects
  .grid-items
    %ul
      %li
        %h5 Blog Project
        %p.description This would be the general overview of the project. Who it is being done for, what it entails, etc...
        %h6.blogs Related posts
        %a.grid-item{href: "javascript:void(0)"}
          %h1 Grid Item
          %p Lorem ipsum dolor sit amet, elit. Rem, illum.
        %a.grid-item.grid-item-image{href: "javascript:void(0)"}
          %h1 Grid Item With an Image
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
        %a.grid-item{href: "javascript:void(0)"}
          %h1 Another Wide Item
          %p Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
        %a.grid-item{href: "javascript:void(0)"}
          %h1 Last Grid Item
          %p Lorem ipsum dolor sit amet, elit. Rem, illum.
        %a.grid-item{href: "javascript:void(0)"}
          %h1 Last Grid Item
          %p Lorem ipsum dolor sit amet, elit. Rem, illum.
        %a.grid-item{href: "javascript:void(0)"}
          %h1 A Grid Item
          %p Lorem ipsum dolor sit amet, elit. Rem, illum.